.wrap {
  padding: 0 16px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  cursor: default;
  font-weight: 600;
  padding-bottom: 12px;
}
.chevron {
  color: #9ca3af;
  font-size: 12px;
}
