.wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  padding: 0px 16px;
}
.badge {
  border: 1px solid;
  padding: 2px 8px;
  font-weight: 600;
  letter-spacing: 0.3px;
}
